//
// Banner
// --------------------------------------------------

.banner { margin: 80px 0 120px; }

.banner-title {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 400;
}

.banner-slogan {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 300;
}
