//
// Page
// --------------------------------------------------

.page {
  > p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    color: $gray;

    &:last-of-type { margin-bottom: 0; }
  }

  > ul {
    font-size: 18px;
    color: $gray;
  }

  &.page-code > p:last-of-type { margin-bottom: 20px; }

  a {
    font-weight: 600;
  }

  h5 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 600;
    border-bottom: 0;
  }
}

.page-title {
  margin-bottom: 20px;
  font-weight: 300;
  color: $brand-primary;
}

p.page-description {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  color: $gray-dark;
}

@media only screen and (max-width : 768px){
  .page-description { font-size: 18px; }
}
