//
// Page
// --------------------------------------------------

.page {
  p {
    margin-bottom: 20px;
    line-height: 30px;
    color: $gray;

    &:last-of-type { margin-bottom: 0; }
  }

  &.page-code p:last-of-type { margin-bottom: 20px; }
}

.page-title {
  margin-bottom: 20px;
  font-weight: 300;
  color: $brand-primary;
}

.page-description {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  color: $gray;
}

@media only screen and (max-width : 768px){
  .page-description { font-size: 18px; }
}
