---
title: Brandbook - Cards
active: docs
docs: cards
---

<div class="page page-code">
  <h1 class="page-title">Cards</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#example-form">Example form</a></li>
    <li><a href="#form-groups">Form groups</a></li>
    <li><a href="#form-group-validation">Form group validation</a></li>
    <li><a href="#form-actions">Form actions</a></li>
    <li><a href="#selects">Selects</a></li>
    <li><a href="#checkboxes-radios">Checkboxes and radios</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#overview" class="anchor"><span class="ion-link"></span></a>
    <a name="overview" class="anchor-text"></a>
    Overview
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#example-form" class="anchor"><span class="ion-link"></span></a>
    <a name="example-form" class="anchor-text"></a>
    Example form
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#form-groups" class="anchor"><span class="ion-link"></span></a>
    <a name="form-groups" class="anchor-text"></a>
    Form groups
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#form-group-validation" class="anchor"><span class="ion-link"></span></a>
    <a name="form-group-validation" class="anchor-text"></a>
    Form group validation
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#form-actions" class="anchor"><span class="ion-link"></span></a>
    <a name="form-actions" class="anchor-text"></a>
    Form actions
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#selects" class="anchor"><span class="ion-link"></span></a>
    <a name="selects" class="anchor-text"></a>
    Selects
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#checkboxes-radios" class="anchor"><span class="ion-link"></span></a>
    <a name="checkboxes-radios" class="anchor-text"></a>
    Checkboxes and radios
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
