//
// Header
// --------------------------------------------------

.header {
  padding-top: 20px;
  color: $white-base;
  background-color: $brand-primary;

  &.has-padding { padding: 5px 0; }
}

.header-logo { margin-left: -28px; }

.header-navigation {
  margin-top: 23px;
  text-align: right;

  li {
    display: inline-block;
    list-style: none;
  }

  a {
    padding: 10px;
    margin-left: 15px;
    color: $white-base;
    text-decoration: none;
    border-radius: 3px;
    opacity: .5;

    &.active,
    &:hover {
      opacity: 1;
    }

    &.active { font-weight: 600; }

    &.is-button {
      padding: 8px 12px;
      border: 1px solid $white-base;
      opacity: 1;

      &:hover {
        color: $brand-primary;
        background: $white-base;
      }
    }
  }
}

@media only screen and (max-width : 768px){
  .header-logo {
    margin-bottom: -20px;
    text-align: center;
  }

  .header-navigation {
    padding: 20px 0 10px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgba($white-base, .2);

    ul {
      padding: 0;
      margin: 0;
    }

    a.is-button { padding: 8px 5px; }
    a { margin: 0; }
  }
}
