//
// Buttons
// --------------------------------------------------

@import "bootstrap/buttons";

.btn {
  border-radius: 3px;
  box-shadow: none;
  transition: all 150ms ease;

  &:active,
  &:focus,
  &:hover,
  &:active:focus {
    box-shadow: none;
  }
}

.btn-white {
  color: $brand-primary;
  background-color: $white-base;
  border: 1px solid $white-base;

  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    color: $brand-primary;
    background-color: $white-base;
    border-color: $white-base;
  }

  &:hover {
    color: $brand-primary;
    background-color: $gray-lighter;
    border-color: $gray-lighter;
  }
}

.btn-outline {
  color: $white-base;
  background-color: none;
  border: 1px solid $white-base;

  &:active:focus {
    color: $brand-primary;
    background-color: $white-base;
  }

  &:focus { color: $white-base; }

  &:hover {
    color: $white-base !important;
    background-color: rgba($white-base, .1) !important;
  }
}

.btn-lg {
  padding: 15px 20px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
