//
// Code
// --------------------------------------------------

@import "bootstrap/code";

.highlight {
  display: block;
  padding: 20px 5px;
  color: inherit;
  background: $gray-lighter;
  border: 0;
  border-radius: 0;
  border-bottom-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;

  .gl {
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
}
