//
// Accordion
// --------------------------------------------------

.accordion {
  margin-bottom: 40px;

  &:last-of-type { margin-bottom: 0; }
}

.accordion-group {
  border-radius: $border-radius-base;
}

.accordion-heading {
  padding: 10px;
  font-weight: 400;
  color: $white-base;
  background-color: $gray;
  border-top-right-radius: $border-radius-base;
  border-top-left-radius: $border-radius-base;
}

.accordion-total {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 4px 8px;
  margin: -4px 6px 0 0;
  font-size: 12px;
  letter-spacing: 1.3px;
  color: $white-base;
  text-align: right;
  text-transform: uppercase;
  border: 1px solid $white-base;
  border-radius: $border-radius-base;
}

.accordion-item {
  cursor: pointer;
  background-color: $white-base;
  border-bottom: 1px solid $base-border-color;

  &.active {
    .accordion-title { background-color: $gray-lighter; }

    .accordion-stat .value,
    .accordion-stat .name,
    .accordion-meta .arrow,
    .accordion-meta .icon,
    .accordion-meta .name {
      color: $gray;
    }

    .arrow.is-open { display: inline-block; }
    .arrow.is-closed { display: none; }
  }

  &:last-of-type { border-bottom: 0; }
}

.accordion-meta {
  padding: 15px;

  .arrow {
    display: inline-block;
    width: 24px;
    font-size: 20px;
    color: $gray;
    vertical-align: middle;

    &.is-open { display: none; }
  }

  .icon {
    display: inline-block;
    width: 24px;
    font-size: 20px;
    color: lighten($gray, 5%);
    vertical-align: middle;
  }

  .name {
    display: inline-block;
    margin-left: 3px;
    font-weight: 500;
    color: $gray;
    vertical-align: middle;
  }
}

.accordion-stat {
  margin-left: -50px;
  color: $gray;
  text-align: center;

  .name {
    margin: 2px 0 0;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .value {
    margin: 12px 0 0;
  }
}

.accordion-content {
  padding: 15px;
  cursor: default;
}
