//
// Advanced
// --------------------------------------------------

.advanced-toggle {
  .js-hide { display: none; }

  &.is-visible {
    .js-hide { display: block; }
    .js-show { display: none; }
  }
}
