//
// Filters
// --------------------------------------------------

.filter {
  padding: 10px;
  margin-bottom: 25px;
  background-color: $gray-light;
  border-radius: $border-radius-base;
  border-bottom: 1px solid darken($gray-light, 5%);
  box-shadow: 0 1px 1px rgba($gray-base, .05);
}

.filter-right {
  text-align: right;
}

.filter-input {
  width: 200px;
  margin-left: 15px;
}

.filter-select .chosen-container {
  width: 100% !important;
}
