<div class="banner">
  <div class="row">
    <div class="col-md-12">
      <p class="banner-title">Intuo<br>Experience Design</p>
      <p class="banner-slogan">
        Intuo's design guidelines and brandbook.
      </p>

      <%= link_to "Getting started", "/components/getting-started.html", class: "btn btn-lg btn-default" %>
      <% link_to "https://github.com/intuo/brandbook/pulls", class: "btn btn-lg btn-outline" do %>
        <span class="ion-social-github"></span> View on Github
      <% end %>
    </div>
  </div>
</div>
