<div class="banner">
  <div class="row">
    <div class="col-md-12">
      <p>
        Pattern library and guidelines that power Intuo.
      </p>

      <%= link_to "Read more", "/docs/overview.html", class: "btn btn-lg btn-outline" %>
    </div>
  </div>
</div>
