<div class="banner">
  <div class="row">
    <div class="col-md-12">
      <p class="banner-title">Brandbook</p>
      <p class="banner-slogan">
        Intuo design pattern library and guidelines.
      </p>

      <%= link_to "Read more", "/docs/scaffolding.html", class: "btn btn-lg btn-outline" %>
    </div>
  </div>
</div>
