<footer class="footer" role="footer">
  <div class="container">
    <div class="footer-information">
      <p>Created and maintained by the <%= link_to "Intuo", "https://github.com/intuo/brandbook/graphs/contributors" %> development team.</p>
    </div>

    <div class="footer-links">
      <ul>
        <li>
          <% link_to "https://twitter.com/intuolearn" do %>
            <span class="ion-social-twitter"></span> intuolearn
          <% end %>
        </li>
        <li>
          <% link_to "https://github.com/intuo/brandbook" do %>
            <span class="ion-social-github"></span> GitHub
          <% end %>
        </li>
        <li>
          Currently version <%= link_to "0.1.0.", "https://github.com/intuo/brandbook/releases" %>
        </li>
      </ul>
    </div>
  </div>
</footer>
