<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <% link_to "/" do %>
          <div class="header-logo">
            <div class="logo logo-white is-small">
              <div class="logo-symbol">
                <div class="left"></div>
                <div class="right"></div>
              </div>

              <div class="logo-text">
                Intuo
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-9">
        <div class="header-navigation">
          <ul>
            <li><%= link_to "Docs", "/docs/overview.html" %></li>
            <li><%= link_to "About", "/about.html" %></li>
            <li><%= link_to "Contribute", "https://github.com/intuo/brandbook", class: "is-button" %></li>
          </ul>
        </div>
      </div>
    </div>

    <%= partial "partials/banner" %>
  </div>
</header>
