<header class="header has-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <% link_to "/index.html" do %>
          <div class="header-logo">
            <div class="logo logo-white is-small">
              <div class="logo-symbol">
                <div class="left"></div>
                <div class="right"></div>
              </div>

              <div class="logo-text">
                Intuo
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-9">
        <div class="header-navigation">
          <ul>
            <li><%= link_to "Vision", "/vision.html", class: current_page.data.active == "vision" ? "active" : "" %></li>
            <li><%= link_to "Components", "/components/getting-started.html", class: current_page.data.active == "docs" ? "active" : "" %></li>
            <li><%= link_to "Roadmap", "/roadmap.html", class: current_page.data.active == "roadmap" ? "active" : "" %></li>
            <li><%= link_to "About", "/about.html", class: current_page.data.active == "about" ? "active" : "" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
