<div class="panel panel-default">
  <ul class="list-group">
    <% link_to "/design/getting-started.html",
      class: current_page.data.docs == "getting-started" ? "list-group-item active" : "list-group-item" do %>
      Getting started
    <% end %>
    <% link_to "/design/voice-and-tone.html",
      class: current_page.data.docs == "voice-and-tone" ? "list-group-item active" : "list-group-item" do %>
      Voice and tone
    <% end %>
    <% link_to "/design/branding-colors.html",
      class: current_page.data.docs == "branding-colors" ? "list-group-item active" : "list-group-item" do %>
      Branding colors
    <% end %>
    <% link_to "/design/iconography.html",
      class: current_page.data.docs == "iconography" ? "list-group-item active" : "list-group-item" do %>
      Iconography
    <% end %>
  </ul>
</div>

<div class="panel panel-default">
  <ul class="list-group">
    <% link_to "/design/data-visualization.html",
      class: current_page.data.docs == "data-visualization" ? "list-group-item active" : "list-group-item" do %>
      Data visualization
    <% end %>
    <a name="data-visualization"></a>
    <% link_to "/design/filters.html",
      class: current_page.data.docs == "filters" ? "list-group-item active" : "list-group-item" do %>
      Filters
    <% end %>
    <a name="filters"></a>
    <% link_to "/design/typography.html",
      class: current_page.data.docs == "typography" ? "list-group-item active" : "list-group-item" do %>
      Typography
    <% end %>
    <a name="typography"></a>
    <% link_to "/design/buttons.html",
      class: current_page.data.docs == "buttons" ? "list-group-item active" : "list-group-item" do %>
      Buttons
    <% end %>
    <a name="buttons"></a>
    <% link_to "/design/forms.html",
      class: current_page.data.docs == "forms" ? "list-group-item active" : "list-group-item" do %>
      Forms
    <% end %>
    <a name="forms"></a>
    <% link_to "/design/alerts.html",
      class: current_page.data.docs == "alerts" ? "list-group-item active" : "list-group-item" do %>
      Alerts
    <% end %>
    <a name="alerts"></a>
    <% link_to "/design/tables.html",
      class: current_page.data.docs == "tables" ? "list-group-item active" : "list-group-item" do %>
      Tables
    <% end %>
    <a name="tables"></a>
    <% link_to "/design/modals.html",
      class: current_page.data.docs == "modals" ? "list-group-item active" : "list-group-item" do %>
      Modals
    <% end %>
    <a name="modals"></a>
    <% link_to "/design/quizes.html",
      class: current_page.data.docs == "quizes" ? "list-group-item active" : "list-group-item" do %>
      Quizes
    <% end %>
    <a name="quizes"></a>
    <% link_to "/design/accordion.html",
      class: current_page.data.docs == "accordion" ? "list-group-item active" : "list-group-item" do %>
      Accordion
    <% end %>
    <a name="accordion"></a>
    <% link_to "/design/lists.html",
      class: current_page.data.docs == "lists" ? "list-group-item active" : "list-group-item" do %>
      Lists
    <% end %>
    <a name="lists"></a>
    <% link_to "/design/tabs.html",
      class: current_page.data.docs == "tabs" ? "list-group-item active" : "list-group-item" do %>
      Tabs
    <% end %>
    <a name="tabs"></a>
    <% link_to "/design/switches.html",
      class: current_page.data.docs == "switches" ? "list-group-item active" : "list-group-item" do %>
      Switches
    <% end %>
    <a name="switches"></a>
    <% link_to "/design/navigation.html",
      class: current_page.data.docs == "navigation" ? "list-group-item active" : "list-group-item" do %>
      Navigation
    <% end %>
    <a name="navigation"></a>
    <% link_to "/design/boxes.html",
      class: current_page.data.docs == "boxes" ? "list-group-item active" : "list-group-item" do %>
      Boxes
    <% end %>
    <a name="boxes"></a>
    <% link_to "/design/cards.html",
      class: current_page.data.docs == "cards" ? "list-group-item active" : "list-group-item" do %>
      Cards
    <% end %>
    <a name="cards"></a>
    <% link_to "/design/media.html",
      class: current_page.data.docs == "media" ? "list-group-item active" : "list-group-item" do %>
      Media
    <% end %>
    <a name="media"></a>
    <% link_to "/design/swatches.html",
      class: current_page.data.docs == "swatches" ? "list-group-item active" : "list-group-item" do %>
      Swatches
    <% end %>
    <a name="swatches"></a>
    <% link_to "/design/templates.html",
      class: current_page.data.docs == "templates" ? "list-group-item active" : "list-group-item" do %>
      Templates
    <% end %>
    <a name="templates"></a>
    <% link_to "/design/settings.html",
      class: current_page.data.docs == "settings" ? "list-group-item active" : "list-group-item" do %>
      Settings
    <% end %>
    <a name="settings"></a>
    <% link_to "/design/states.html",
      class: current_page.data.docs == "states" ? "list-group-item active" : "list-group-item" do %>
      States
    <% end %>
    <a name="states"></a>
  </ul>
</div>
