---
title: Strategy - How do we behave?
active: strategy
layout: strategy
strategy: behave
---

<div class="page page-code">
  <h1 class="page-title">How do we behave?</h1>

  <p class="page-description">
   We’re an open and excecuting team of domain experts, with a twist. 
   Ready to serve. We like it simple! We keep on improving!
  </p>

  <h3>The best of both worlds</h3>

	<hr>

	<p>
		The above paragraph contains a few values that allow us to maintain team happiness and allow us to win in our market. In the following items, we will describe the individual values and give context on how they are applied.
	</p>

	<div class="box-strategy">
	<%= image_tag 'images/strategy6/Strategy6behave.jpeg'%>      
 	</div>

	<h3>Open</h3>

	<hr>

	<p>
	</p>

	<h3>Executing</h3>

	<hr>

	<p>
	</p>

	<h3>Team</h3>

	<hr>

	<p>
	</p>

	<h3>Domain experts</h3>

	<hr>

	<p>
	</p>

	<h3>Twist</h3>

	<hr>

	<p>
	</p>

	<h3>Serve</h3>

	<hr>

	<p>
	</p>

	<h3>Simple</h3>

	<hr>

	<p>
	</p>

	<h3>Improving</h3>

	<hr>

	<p>
	</p>

</div>