---
title: Strategy - How do we do it?
active: strategy
layout: strategy
strategy: how
---

<div class="page page-code">
  <h1 class="page-title">How do we do it?</h1>

  <p class="page-description">
   We bring together research, technology and human interaction to lead the way to a thriving state at work whilst focusing on delivering user experience.
  </p>

  <h3>Research</h3>

  <hr>

  <p>
  	We embrace qualiative and quantitative research to improve our service offerings.
	</p>

	<h3>Technology</h3>

  <hr>

  <p>
  	We aim to deliver the highest quality in technology.Or technology enables our customers and partners to achieve and facilitate their mission or work.
	</p>

	<h3>Human interaction</h3>

  <hr>

  <p>
  	We believe that technology alone isn’t the solution. But combining our technology with a personalized coach approach can spark a fully engaged and thus high-performing culture. Our goal is not to deliver technology, but to create a valuable and long-term relationship with organizations and partners.
	</p>

	<h3>Thriving state</h3>

  <hr>

  <p class="quote">
  	The state of Thriving is an achievable, positive psychological state of mind, regardless of a person’s profession or management level. The improved organizational environment automatically becomes more beneficial to the individual and the team. Their resulting higher performance and elevated moods (states of mind) encourage andsupport a healthier,more efficient and optimal environment. 

  	At one time or another, we have all experienced a Thriving state of mind. By tapping back into that personal moment of high energy, excitement to learn and clarity of direction and purpose, people can easily understand that the state of Thriving is an inside-out experience rather than outside in. 
	</p>

	<h4><span class="icon ion-lightbulb"></span> The organizational benefits of a state of Thriving environment:</h4>

  <ul>
    <li><b>Trust and respect:</b> gratitude and generosity, connectedness with others,
non-contingent well-being, resilience</li>
    <li><b>Global information sharing:</b> humility, impersonal curiosity, sense of
growth and sharing, experimentation and exploration, discovery and
moving forward, collaboration</li>
    <li><b>Task-focused accountability:</b> inspired certainty and confidence, clarity
of direction and meaning, authenticity transcending ego and pettiness,
common sense and wisdom</li>
  </ul>

	<h3>Delivering user experience</h3>

	<hr>

	<p class="quote">
		User experience encompasses all aspects of our user's interaction with INTUO: our services, and our products.
	</p>

	<p>
		We aim to remove negative experience from existign processes or creating or boosting positive experiences during our customer lifetime. This also includes our partners.
	</p>

	<h4><span class="icon ion-lightbulb"></span> UX is not the same as UI or usability</h4>
	<p>
		It's important to distinguish the total user experience from the user interface (UI), even though the UI is obviously an extremely important part of the design. Delivering experience is our dominating attribute as a company and should come first. <br>
	
  	We should also distinguish UX and usability: According to the definition of usability, it is a quality attribute of the UI, covering whether the system is easy to learn, efficient to use, pleasant, and so forth. Again, this is very important, and again total UX is an even broader concept.
	</p>
</div>