---
title: Brandbook - Voice and tone
active: strategy
layout: strategy
strategy: serve
---

<div class="page page-code">
  <h1 class="page-title">Who do we serve?</h1>

  <p class="page-description">
   In order to accomplish our mission, we need to serve 2 crucial entities. At first, we have organizations looking to achieve their own mission. Second, we have our partners that play a vital role in helping organizations towards achieving their mission.
  </p>

  <h3>Organizations</h3>

  <hr>

  <p>
  	Organizations are looking for ways to align their people with their mission and want to increase the engagement and growth of the talents of those people. Unlocking this potential is key to achieving their goals and our main business.
  </p>

  <h3>Partners</h3>

  <hr>

  <p>
  	Company coaches and trainers need a solution for further unlocking the organization’s potential. We enable them by providing this solution and increase the value of their services.
	</p>

	<h3>Timeline</h3>

	<hr>

	<div class="box-strategy">
  	<img src="/images/strategy6/Strategy6serve.jpeg">     
 	</div>

</div>