---
title: Strategy - How will we succeed?
active: strategy
layout: strategy
strategy: succeed
---

<div class="page page-code">
  <h1 class="page-title">How will we succeed?</h1>

  <p class="page-description">
  	Next to our values - described in how do we behave - there are four strategic anchors that we should take into account in our day to day decision making.
  </p>

  <h3>4 anchors</h3>

	<hr>

	<div class="box-strategy">
  	<%= image_tag 'images/strategy6/Strategy6succeed.jpeg'%>     
 	</div>

  <h3>Experience comes first</h3>

  <hr>

  <p>
  	The full experience of our solution should be delightful and as personal as possible.
  </p>

  <h3>Partners are gold</h3>

  <hr>

  <p>
  	The partner network is treated like a colleague, they are part of the organization and defines our customer-relation.
  </p>

  <h3>Users are people</h3>

  <hr>

  <p>
  	We take a human approach in all our decisions, action and communication.
  </p>

  <h3>Do more with less</h3>

  <hr>

  <p>
  	We think twice before spending and show creativity in our approach.
  </p>
</div>