---
title: Brandbook - Alerts
active: docs
docs: alerts
---

<div class="page page-code">
  <h1 class="page-title">Alerts</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#errors">Errors</a></li>
    <li><a href="#notifications">Notifications</a></li>
    <li><a href="#actions">Actions</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#errors" class="anchor"><span class="ion-link"></span></a>
    <a name="errors" class="anchor-text"></a>
    Errors
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#notifications" class="anchor"><span class="ion-link"></span></a>
    <a name="notifications" class="anchor-text"></a>
    Notifications
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#actions" class="anchor"><span class="ion-link"></span></a>
    <a name="actions" class="anchor-text"></a>
    Actions
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
