---
title: Brandbook - Alerts
active: docs
docs: alerts
---

<div class="page page-code">
  <h1 class="page-title">Alerts</h1>

  <p class="page-description">
    Inform the user in a meaningful and constrictive way.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#errors">Errors</a></li>
    <li><a href="#actions">Actions</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#errors" class="anchor"><span class="ion-link"></span></a>
    <a name="errors" class="anchor-text"></a>
    Errors
  </h3>

  <hr>

  <p>
    Errors messages provide a descriptive list of instructions for the user
    to solve a problem detected by the system.
  </p>

  <blockquote>
    Try to keep the variations of alerts as low as possible. You want the user
    the recognize a system message immediately, without too much cognitive load.
  </blockquote>

  <div class="sandbox">
    <div class="alert alert-danger has-margin-bottom">
      <ul>
        <li>Complete your question in the quiz</li>
        <li>The certificate name can't be blank</li>
      </ul>
    </div>
    <div class="alert alert-warning has-margin-bottom">
      No courses yet, <a href="#">create one</a>.
    </div>
    <div class="alert alert-success">
      Settings saved successfully.
    </div>
  </div>

  <% code("html") do %>
  <div class="alert alert-success">
    Settings saved successfully.
  </div>
  <div class="alert alert-danger">
    <ul>
      <li>Complete your question in the quiz</li>
      <li>The certificate name can't be blank</li>
    </ul>
  </div>
  <div class="alert alert-warning">
    No courses yet, <a href="#">create one</a>.
  </div>
  <% end %>

  <h3 class="anchor-container">
    <a href="#actions" class="anchor"><span class="ion-link"></span></a>
    <a name="actions" class="anchor-text"></a>
    Actions
  </h3>

  <hr>

  <p>
    For some specific use cases you may want to add a call to action to your alert.
    This pattern will be deprecated in a future update, so it's not adviced to rely on it.
  </p>

  <div class="sandbox">
    <div class="alert alert-warning has-button clearfix">
      <div class="pull-left">
        <p>Last updated at September 13 2015, 11:33:16am.</p>
      </div>
      <div class="pull-right text-right">
        <% link_to "#", class: "btn btn-success" do %>
          <span class="icon ion-refresh"></span>
          Update data
        <% end %>
      </div>
    </div>
  </div>

  <% code("html") do %>
  <div class="alert alert-warning has-button clearfix">
    <div class="pull-left">
      <p>Last updated at September 13 2015, 11:33:16am.</p>
    </div>
    <div class="pull-right text-right">
      <button class="btn btn-success">
        <span class="icon ion-refresh"></span>Update data
      </button>
    </div>
  </div>
  <% end %>
</div>
