---
title: Brandbook - Boxes
active: docs
docs: boxes
---

<div class="page page-code">
  <h1 class="page-title">Boxes</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#badges">Badges</a></li>
    <li><a href="#courses">Courses</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#badges" class="anchor"><span class="ion-link"></span></a>
    <a name="badges" class="anchor-text"></a>
    Badges
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#courses" class="anchor"><span class="ion-link"></span></a>
    <a name="courses" class="anchor-text"></a>
    Courses
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
