---
title: Brandbook - Branding colors
active: docs
docs: branding-colors
---

<div class="page page-code">
  <h1 class="page-title">Branding colors</h1>

  <p class="page-description">
    The look and feel of our company and product relies on using a handful of
    specific colors that help convey meaning and purpose.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#colors">Colors</a></li>
    <li><a href="#grayscale">Grayscale</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#colors" class="anchor"><span class="ion-link"></span></a>
    <a name="colors" class="anchor-text"></a>
    Colors
  </h3>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <div class="color-sample color-primary">
        <div class="color-meta">
          <div class="color-name">$brand-primary</div>
          <div class="color-code">#517ED4</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="color-sample color-warning">
        <div class="color-meta">
          <div class="color-name">$brand-warning</div>
          <div class="color-code">#FA895D</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="color-sample color-danger">
        <div class="color-meta">
          <div class="color-name">$brand-danger</div>
          <div class="color-code">#F55360</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="color-sample color-success">
        <div class="color-meta">
          <div class="color-name">$brand-success</div>
          <div class="color-code">#43C5B3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:25px;">
    <div class="col-md-3">
      <div class="color-sample color-info">
        <div class="color-meta">
          <div class="color-name">$brand-info</div>
          <div class="color-code">#7E8BE4</div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="anchor-container">
    <a href="#grayscale" class="anchor"><span class="ion-link"></span></a>
    <a name="grayscale" class="anchor-text"></a>
    Grayscale
  </h3>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <div class="color-sample color-lighter">
        <div class="color-meta">
          <div class="color-name">$gray-lighter</div>
          <div class="color-code">#F3F6F9</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="color-sample color-light">
        <div class="color-meta">
          <div class="color-name">$gray-light</div>
          <div class="color-code">#91ABC4</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="color-sample color-gray">
        <div class="color-meta">
          <div class="color-name">$gray</div>
          <div class="color-code">#637a91</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="color-sample color-dark">
        <div class="color-meta">
          <div class="color-name">$gray-dark</div>
          <div class="color-code">#333333</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:25px;">
    <div class="col-md-3">
      <div class="color-sample color-darker">
        <div class="color-meta">
          <div class="color-name">$gray-darker</div>
          <div class="color-code">#212730</div>
        </div>
      </div>
    </div>
  </div>
</div>
