---
title: Brandbook - Branding colors
active: docs
docs: branding-colors
---

<div class="page page-code">
  <h1 class="page-title">Branding colors</h1>

  <p class="page-description">
    The look and feel of our company and product relies on using a handful of
    specific colors that help convey meaning and purpose.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#colors">Colors</a></li>
    <li><a href="#grayscale">Grayscale</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#colors" class="anchor"><span class="ion-link"></span></a>
    <a name="colors" class="anchor-text"></a>
    Colors
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <h3 class="anchor-container">
    <a href="#grayscale" class="anchor"><span class="ion-link"></span></a>
    <a name="grayscale" class="anchor-text"></a>
    Grayscale
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>
</div>
