---
title: Brandbook - Buttons
active: docs
docs: buttons
---

<div class="page page-code">
  <h1 class="page-title">Buttons</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#dropdown-buttons">Dropdown buttons</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#buttons" class="anchor"><span class="ion-link"></span></a>
    <a name="buttons" class="anchor-text"></a>
    Buttons
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <a href="#" class="btn btn-default">Default</a>
    <a href="#" class="btn btn-success">Success</a>
    <a href="#" class="btn btn-warning">Warning</a>
    <a href="#" class="btn btn-danger">Danger</a>
    <a href="#" class="btn btn-info">Info</a>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#dropdown-buttons" class="anchor"><span class="ion-link"></span></a>
    <a name="dropdown-buttons" class="anchor-text"></a>
    Dropdown buttons
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <div class="btn-group">
      <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" data-toggle="modal" data-target="#presence"><span class="icon ion-android-done"></span> Present</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#presence"><span class="icon ion-android-close"></span> Absent</a>
        </li>
      </ul>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
