---
title: Brandbook - Buttons
active: docs
docs: buttons
---

<div class="page page-code">
  <h1 class="page-title">Buttons</h1>

  <p class="page-description">
    The primary method of triggering events in the user interface.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#dropdown-buttons">Dropdown buttons</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#buttons" class="anchor"><span class="ion-link"></span></a>
    <a name="buttons" class="anchor-text"></a>
    Buttons
  </h3>

  <hr>

  <p>
    Although there are more colors available to use, it doesn't make sense to have a
    wide spectrum of colors for more or less the same type of actions.
    The color of a button must match the context in which it is used, as illustrated in the example below.
  </p>

  <div class="sandbox">
    <a href="#" class="btn btn-default">Change badge</a>
    <a href="#" class="btn btn-success">Publish</a>
    <a href="#" class="btn btn-danger">Delete account</a>
    <a href="#" class="btn btn-primary">Upload image</a>
  </div>

  <% code("html") do %>
  <a href="#" class="btn btn-default">Change badge</a>
  <a href="#" class="btn btn-success">Publish</a>
  <a href="#" class="btn btn-danger">Delete account</a>
  <a href="#" class="btn btn-primary">Upload image</a>
  <% end %>

  <h3 class="anchor-container">
    <a href="#dropdown-buttons" class="anchor"><span class="ion-link"></span></a>
    <a name="dropdown-buttons" class="anchor-text"></a>
    Dropdown buttons
  </h3>

  <hr>

  <p>
    Dropdown buttons should provide a meaningful action. The expected behavior is that the
    action of the button changes to the selected option.
  </p>

  <div class="sandbox">
    <div class="btn-group">
      <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon ion-android-done"></span> Attending
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" data-toggle="modal" data-target="#presence"><span class="icon ion-android-done"></span> Attending</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#presence"><span class="icon ion-android-close"></span> Not going</a>
        </li>
      </ul>
    </div>
  </div>

  <% code("html") do %>
  <div class="btn-group">
    <a class="btn btn-default" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="icon ion-android-done"></span> Attending
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#" data-toggle="modal">
          <span class="icon ion-android-done"></span> Attending
        </a>
      </li>
      <li>
        <a href="#" data-toggle="modal">
          <span class="icon ion-android-close"></span> Not going
        </a>
      </li>
    </ul>
  </div>
  <% end %>
</div>
