---
title: Brandbook - Forms
active: docs
docs: forms
---

<div class="page page-code">
  <h1 class="page-title">Forms</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#basic-form">Basic form</a></li>
    <li><a href="#horizontal-form">Horizontal form</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#basic-form" class="anchor"><span class="ion-link"></span></a>
    <a name="basic-form" class="anchor-text"></a>
    Basic form
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#horizontal-form" class="anchor"><span class="ion-link"></span></a>
    <a name="horizontal-form" class="anchor-text"></a>
    Horizontal form
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
