---
title: Brandbook - Getting started
active: docs
docs: getting-started
---

<div class="page page-code">
  <h1 class="page-title">Getting started</h1>

  <p class="page-description">
    Here's all you need to know before you get started. Take a look at how we
    do things at Intuo Design.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#what-and-why">What and why?</a></li>
    <li><a href="#dependencies">Dependencies</a></li>
    <li><a href="#thinking-in-components">Thinking in components</a></li>
    <li><a href="#scalable-and-modular-scss-architecture">Scalable and modular SCSS architecture</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#what-and-why" class="anchor"><span class="ion-link"></span></a>
    <a name="what-and-why" class="anchor-text"></a>
    What and why?
  </h3>

  <hr>

  <p>
    The Brandbook is Intuo's internal design reference.
    It describes how or when you should choose on of the many design patterns
    to ensure consistency.
  </p>

  <p>
    There's a lot we can improve upon and feedback is always welcome.
    The Brandbook is an ongoing project that evolves naturally with time,
    hence we will occasionally add or remove things.
  </p>

  <h3 class="anchor-container">
    <a href="#dependencies" class="anchor"><span class="ion-link"></span></a>
    <a name="dependencies" class="anchor-text"></a>
    Dependencies
  </h3>

  <hr>

  <ul>
    <li>Our styles are built with SCSS.</li>
    <li><a href="https://middlemanapp.com">Middleman</a> is used to serve the GitHub pages.</li>
    <li><a href="https://github.com/middleman/middleman-syntax">middleman-syntax</a> for code highlighting.</li>
    <li><a href="https://github.com/rails/turbolinks">turbolinks</a> for rapid page loading.</li>
    <li>We use our own Intuo icon font alongside of <a href="ionicons.com">Ionicons</a>.</li>
    <li>Intuo's design framework is built on top of <a href="https://github.com/twbs/bootstrap-sass">Bootstrap Sass 3</a>.</li>
    <li><a href="https://github.com/ai/autoprefixer-rails">Autoprefixer</a> is used to generate vendor-prefixed declarations.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#thinking-in-components" class="anchor"><span class="ion-link"></span></a>
    <a name="thinking-in-components" class="anchor-text"></a>
    Thinking in components
  </h3>

  <hr>

  <p>
    Work in progress.
  </p>

  <h3 class="anchor-container">
    <a href="#scalable-and-modular-scss-architecture" class="anchor"><span class="ion-link"></span></a>
    <a name="scalable-and-modular-scss-architecture" class="anchor-text"></a>
    Scalable and modular SCSS architecture
  </h3>

  <hr>

  <p>
    Work in progress.
  </p>
</div>
