---
title: Brandbook - Iconography
active: docs
docs: iconography
---

<div class="page page-code">
  <h1 class="page-title">Iconography</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#overview">Overview</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#overview" class="anchor"><span class="ion-link"></span></a>
    <a name="overview" class="anchor-text"></a>
    Overview
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
