---
title: Brandbook - Lists
active: docs
docs: lists
---

<div class="page page-code">
  <h1 class="page-title">Lists</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#list">List</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#list" class="anchor"><span class="ion-link"></span></a>
    <a name="list" class="anchor-text"></a>
    List
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <div class="list">
      <div class="list-item">
        <%= image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg", class: "list-avatar" %>
        <div class="list-name">
          <a href="#">Demo account</a>
        </div>
        <div class="list-actions">
          <% link_to "#", class: "btn btn-danger" do %>
            <span class="ion-trash-a"></span>
          <% end %>
        </div>
      </div>

      <div class="list-item">
        <%= image_tag "https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg", class: "list-avatar" %>
        <div class="list-name">
          <a href="#">Demo account</a>
        </div>
        <div class="list-actions">
          <% link_to "#", class: "btn btn-danger" do %>
            <span class="ion-trash-a"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
