---
title: Brandbook - Modals
active: docs
docs: modals
---

<div class="page page-code">
  <h1 class="page-title">Modals</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#basic-example">Basic example</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#basic-example" class="anchor"><span class="ion-link"></span></a>
    <a name="basic-example" class="anchor-text"></a>
    Basic example
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
