---
title: Brandbook - Modals
active: docs
docs: modals
---

<div class="page page-code">
  <h1 class="page-title">Modals</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#modal">Modal</a></li>
    <li><a href="#confirm-deletion">Confirm deletion</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#modal" class="anchor"><span class="ion-link"></span></a>
    <a name="modal" class="anchor-text"></a>
    Modal
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-close-round"></span></button>
          <h4 class="modal-title" id="myModalLabel">Edit topic</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" placeholder="Name" value="Leadership">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#confirm-deletion" class="anchor"><span class="ion-link"></span></a>
    <a name="confirm-deletion" class="anchor-text"></a>
    Confirm deletion
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <div class="modal-dialog is-small" role="document">
      <div class="modal-content">
        <div class="modal-body is-header">
          <h4>Are you sure?</h4>
          <p>This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
