---
title: Brandbook - Navigation
active: docs
docs: navigation
---

<div class="page page-code">
  <h1 class="page-title">Navigation</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#breadcrumbs">Breadcrumbs</a></li>
    <li><a href="#actions">Actions</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#breadcrumbs" class="anchor"><span class="ion-link"></span></a>
    <a name="breadcrumbs" class="anchor-text"></a>
    Breadcrumbs
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#actions" class="anchor"><span class="ion-link"></span></a>
    <a name="actions" class="anchor-text"></a>
    Actions
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
