---
title: Brandbook - Settings
active: docs
docs: settings
---

<div class="page page-code">
  <h1 class="page-title">Settings</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#setting-group">Setting group</a></li>
    <li><a href="#setting-group-icon">Setting group icon</a></li>
    <li><a href="#advanced-settings">Advanced settings</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#setting-group" class="anchor"><span class="ion-link"></span></a>
    <a name="setting-group" class="anchor-text"></a>
    Setting group
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox is-dark">
    <div class="setting-group">
      <div class="setting-title">Basic information</div>
      <div class="setting-content">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Company name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Company name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Company address</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Company address">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Company VAT</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Company VAT">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#setting-group-icon" class="anchor"><span class="ion-link"></span></a>
    <a name="setting-group-icon" class="anchor-text"></a>
    Setting group icon
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox is-dark">
    <div class="setting-group">
      <div class="setting-title">
        <div class="icon">
          <span class="ion-log-in"></span>
        </div>
        <p>Single sign-on</p>
      </div>
      <div class="setting-content">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">SSO Token</label>
            <div class="col-sm-5">
              <div>
                <pre>3C634A09-E966-4500-B255-FF632EA05621</pre>
              </div>
              <p class="help-text">
                Use this token to encrypt your JSON hash.
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#advanced-settings" class="anchor"><span class="ion-link"></span></a>
    <a name="advanced-settings" class="anchor-text"></a>
    Advanced settings
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox is-dark">
    <div class="setting-group">
      <div class="setting-content no-border">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Enable single sign-on?</label>
            <div class="col-sm-5">
              <div class="toggle">
                <input class="js-sso-toggle" type="checkbox" data-size="small">
              </div>
              <p class="help-text">
                Enabling Single Sign-On will show a login button on the login pages.
              </p>
            </div>
          </div>

          <div class="js-sso-content">
            <div class="form-group">
              <label class="col-sm-3 control-label">Login URL</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Login URL">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Login button text</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Login button text">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
