---
title: Brandbook - States
active: docs
docs: states
---

<div class="page page-code">
  <h1 class="page-title">States</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#loading">Loading</a></li>
    <li><a href="#empty-state">Empty state</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#loading" class="anchor"><span class="ion-link"></span></a>
    <a name="loading" class="anchor-text"></a>
    Loading
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <div class="loading">
      <div class="loading-backdrop">
        <div class="loading-spinner">
          <div class="loading-side loading-left"></div>
          <div class="loading-side loading-right"></div>
        </div>
      </div>
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#empty-state" class="anchor"><span class="ion-link"></span></a>
    <a name="empty-state" class="anchor-text"></a>
    Empty state
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <div class="sandbox">
    <div class="alert alert-warning">
      <span class="icon ion-help"></span> There are no courses yet.
    </div>
  </div>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
