---
title: Brandbook - Tables
active: docs
docs: tables
---

<div class="page page-code">
  <h1 class="page-title">Tables</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#basic-table">Basic table</a></li>
    <li><a href="#borderless-table">Borderless table</a></li>
    <li><a href="#checkbox-table">Checkbox table</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#basic-table" class="anchor"><span class="ion-link"></span></a>
    <a name="basic-table" class="anchor-text"></a>
    Basic table
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#borderless-table" class="anchor"><span class="ion-link"></span></a>
    <a name="borderless-table" class="anchor-text"></a>
    Borderless table
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#checkbox-table" class="anchor"><span class="ion-link"></span></a>
    <a name="checkbox-table" class="anchor-text"></a>
    Checkbox table
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
