---
title: Brandbook - Typography
active: docs
docs: typography
---

<div class="page page-code">
  <h1 class="page-title">Typography</h1>

  <p class="page-description">
    Style individual form controls and utilize common layouts.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#code">Code</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#code" class="anchor"><span class="ion-link"></span></a>
    <a name="code" class="anchor-text"></a>
    Code
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
