---
title: Brandbook - Typography
active: docs
docs: typography
---

<div class="page page-code">
  <h1 class="page-title">Typography</h1>

  <p class="page-description">
    Style, arrangement, and appearance of the letters, numbers, and words.
  </p>

  <div class="alert alert-warning">
    <span class="ion-quote"></span> This pattern will be revised soon.
  </div>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#code">Code</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#code" class="anchor"><span class="ion-link"></span></a>
    <a name="code" class="anchor-text"></a>
    Code
  </h3>

  <hr>

  <p>
    The <code>pre</code> tag represents a block of preformatted text or code.
  </p>

  <div class="sandbox">
    <pre>3C634A09-E966-4500-B255-FF632EA05621</pre>
  </div>

  <% code("html") do %>
  <pre>3C634A09-E966-4500-B255-FF632EA05621</pre>
  <% end %>
</div>
