---
title: Brandbook - Voice and tone
active: docs
docs: voice-and-tone
---

<div class="page page-code">
  <h1 class="page-title">Voice and tone</h1>

  <p class="page-description">
    Before you write for MailChimp, it’s important to think about our readers.
    Though our voice doesn’t change much, our tone adapts to our users’
    feelings. It also communicates what our products and our brand are all about.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#twitter-facebook">Twitter, Facebook</a></li>
    <li><a href="#success-message">Success message</a></li>
    <li><a href="#be-encouraging">Be encouraging</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#public-site">Public site</a></li>
    <li><a href="#legal-content">Legal content</a></li>
    <li><a href="#calming-the-user">Calming the user</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#voice" class="anchor"><span class="ion-link"></span></a>
    <a name="voice" class="anchor-text"></a>
    Voice
  </h3>

  <hr>

  <p>
    Intuo's voice is human. It’s familiar, friendly, and straightforward.
    Our priority is explaining our products and helping our users get their
    work done so they can get on with their lives. We want to educate people
    without patronizing or confusing them.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Fun but not silly</li>
    <li>Confident but not cocky</li>
    <li>Smart but not stodgy</li>
    <li>Informal but not sloppy</li>
    <li>Helpful but not overbearing</li>
    <li>Expert but not bossy</li>
    <li>Weird but not inappropriate</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#twitter-facebook" class="anchor"><span class="ion-link"></span></a>
    <a name="twitter-facebook" class="anchor-text"></a>
    Twitter, Facebook
  </h3>

  <hr>

  <p class="quote">
    Talent management doesn't have to be a pain.
    Here are a few ways Intuo can help: <a href="#">eepurl.com/bdNcjv</a>
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Get to the point.</li>
    <li>Feel free to be casual.</li>
    <li>Delight our followers with good news when you can.</li>
    <li>During major news events, turn off scheduled and promoted tweets.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#success-message" class="anchor"><span class="ion-link"></span></a>
    <a name="success-message" class="anchor-text"></a>
    Success message
  </h3>

  <hr>

  <p class="quote">
    Fine piece of work! You deserve a raise.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Pat these users on the back for getting a course out the door.</li>
    <li>Feel free to be casual.</li>
    <li>They’re probably feeling happy and relieved—use casual language that encourages those feelings.</li>
    <li>Feel free to be funny.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#be-encouraging" class="anchor"><span class="ion-link"></span></a>
    <a name="be-encouraging" class="anchor-text"></a>
    Be encouraging
  </h3>

  <hr>

  <h4>What the user thinks</h4>

  <p class="quote">
    My students seem to like my course. Sweet!
  </p>

  <h4>How we should react</h4>

  <p class="quote">
    Your student enrollment rate was 76% higher than your industry average. Nice work!
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Encourage and support users as they complete the process.</li>
    <li>Tracking is usually the most exciting part for users. Our personality should come through in this step.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#blog" class="anchor"><span class="ion-link"></span></a>
    <a name="blog" class="anchor-text"></a>
    Blog
  </h3>

  <hr>

  <h4>What the user thinks</h4>

  <p class="quote">
    I learn something every time I read Intuo's blog.
  </p>

  <h4>How we should react</h4>

  <p class="quote">
    We’ve added the blended learning to courses, so you can now take Intuo
    anywhere. The feature will be available, by the end of next week.
    We’re pretty excited about this.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>These people know Intuo. Be casual with them, and have a sense of humor.</li>
    <li>Every post should teach readers something. Enlighten them with extra links, tips, information that makes them smarter, or sneak peeks into our office.</li>
    <li>Assume that readers are smart and tech-savvy Intuo users.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#public-site" class="anchor"><span class="ion-link"></span></a>
    <a name="public-site" class="anchor-text"></a>
    Public site
  </h3>

  <hr>

  <h4>What the user thinks</h4>

  <p class="quote">
    Talent management is just what I need. I might sign up for an Intuo account.
    I wonder what features they have, and how much it’ll cost me per month.
  </p>

  <h4>How we should react</h4>

  <p class="quote">
    Join more than 120 companies who use Intuo to track and increase the human capital of their company every day.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Be confident in explaining why Intuo is so great. </li>
    <li>Show people how easy it is to use Intuo.</li>
    <li>Delight people with design, data, and helpful information about Intuo.</li>
    <li>Relay our personality and sense of humor, but don’t go crazy (think clever, not silly).</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#legal-content" class="anchor"><span class="ion-link"></span></a>
    <a name="legal-content" class="anchor-text"></a>
    Legal content
  </h3>

  <hr>

  <h4>What the user thinks</h4>

  <p class="quote">
    I need to make sure Intuo isn’t going to steal my content before I publish my courses.
  </p>

  <h4>How we should react</h4>

  <p class="quote">
    You retain ownership of the materials you upload to the Service.
    We may use or disclose your materials only as we describe in these
    Terms and our Privacy Policy.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Write as calmly and clearly as possible, within the obvious constraints. Only use legal jargon when it’s absolutely necessary.</li>
    <li>Don’t dumb anything down or joke around. Legal content is serious business.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#calming-the-user" class="anchor"><span class="ion-link"></span></a>
    <a name="calming-the-user" class="anchor-text"></a>
    Calming the user
  </h3>

  <hr>

  <h4>What the user thinks</h4>

  <p class="quote">
    I need to get this course published ASAP, because my boss is breathing down my back.
  </p>

  <h4>How we should react</h4>

  <p class="quote">
    Send now—this is your moment of glory.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Use language that empowers people to create courses.</li>
    <li>Encourage and support users as they go through a potentially stressful process.</li>
    <li>Provide a little comic relief, but don’t annoy or distract busy users with over-the-top humor or too many extra words.</li>
  </ul>

  <h3 class="anchor-container">
    <a href="#failure-message" class="anchor"><span class="ion-link"></span></a>
    <a name="failure-message" class="anchor-text"></a>
    Failure message
  </h3>

  <hr>

  <h4>What the user thinks</h4>

  <p class="quote">
    What went wrong? I really need to get this course published.
  </p>

  <h4>How we should react</h4>

  <p class="quote">
    We’re experiencing a brief problem. Our engineers are on the case,
    and will have things back to normal shortly.
  </p>

  <h4><span class="icon ion-lightbulb"></span> Tips</h4>

  <ul>
    <li>Offer a solution or next step.</li>
    <li>Be straightforward. Explain what’s going on right away.</li>
    <li>Be calm. Don’t use exclamation points or alarming words like "alert" or "immediately."</li>
    <li>Be serious. Don’t joke around with people who are frustrated.</li>
  </ul>
</div>
