//
// Variables
// --------------------------------------------------

// Gray colors
$white-base: #fff;
$gray-base: #000;
$gray-darker: #212730;
$gray-darkest: darken($gray-darker, 6%);
$gray-dark: #3a4652;
$gray: #637a91;
$gray-light: lighten($gray, 45%);
$gray-lighter: #F3F6F9;

// Body background
$body-bg: #F3F5F6;

// Brand colors
$brand-primary: #517ED4;
$brand-success: #43C5B3;
$brand-info: #7E8BE4;
$brand-warning: #FA895D;
$brand-danger: #F55360;

// Text colors
$state-success-text: $brand-success;
$state-danger-text: $brand-danger;
$state-warning-text: $brand-warning;
$state-danger-info: $brand-info;

// Typography
$font-size-base: 14px;

// Grid
$container-lg: 1020px;
$grid-gutter-width: 20px;

// Box model
$base-border-color: darken($body-bg, 5%);
$shadow-color: darken($body-bg, 10%);
$link-hover-color: lighten($brand-primary, 10%);
$base-select-color: $brand-primary;
$shadow-base: 0 0 0 1px darken($base-border-color, 2);

// Buttons
$btn-info-color: $white-base;
$btn-info-bg: $brand-info;
$btn-info-border: $gray-darkest;

// Inputs
$border-radius-base: 2px;

// Import variables
@import "bootstrap/variables";
