---
title: Brandbook - Alerts
active: docs
docs: alerts
---

<div class="page page-code">
  <h1 class="page-title">Alerts</h1>

  <p class="page-description">
    Flash messages, or alerts, inform users of successful or pending actions.
    Use them sparingly. Don’t show more than one at a time.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#default">Default</a></li>
    <li><a href="#warning">Warning</a></li>
    <li><a href="#danger">Danger</a></li>
    <li><a href="#success">Success</a></li>
    <li><a href="#dismiss">Dismiss</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#overview" class="anchor"><span class="ion-link"></span></a>
    <a name="overview" class="anchor-text"></a>
    Overview
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#default" class="anchor"><span class="ion-link"></span></a>
    <a name="default" class="anchor-text"></a>
    Default
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#warning" class="anchor"><span class="ion-link"></span></a>
    <a name="warning" class="anchor-text"></a>
    Warning
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#danger" class="anchor"><span class="ion-link"></span></a>
    <a name="danger" class="anchor-text"></a>
    Danger
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#success" class="anchor"><span class="ion-link"></span></a>
    <a name="success" class="anchor-text"></a>
    Success
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#dismiss" class="anchor"><span class="ion-link"></span></a>
    <a name="dismiss" class="anchor-text"></a>
    Dismiss
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
