---
title: Brandbook - Buttons
active: docs
docs: buttons
---

<div class="page page-code">
  <h1 class="page-title">Buttons</h1>

  <p class="page-description">
    Buttons are used for actions, like in forms, while textual hyperlinks are
    used for destinations, or moving from one page to another.
  </p>

  <h3 class="anchor-container">
    <a href="#" class="anchor"><span class="ion-link"></span></a>
    <a name="" class="anchor-text"></a>
    Contents
  </h3>

  <hr>

  <ul>
    <li><a href="#default">Default buttons</a></li>
    <li><a href="#primary">Primary</a></li>
    <li><a href="#danger">Danger</a></li>
    <li><a href="#success">Success</a></li>
    <li><a href="#outline">Outline</a></li>
    <li><a href="#disabled-state">Disabled state</a></li>
    <li><a href="#block-buttons">block-buttons</a></li>
    <li><a href="#button-groups">Button groups</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#default" class="anchor"><span class="ion-link"></span></a>
    <a name="default" class="anchor-text"></a>
    Default buttons
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#primary" class="anchor"><span class="ion-link"></span></a>
    <a name="primary" class="anchor-text"></a>
    Primary
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#danger" class="anchor"><span class="ion-link"></span></a>
    <a name="danger" class="anchor-text"></a>
    Danger
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#success" class="anchor"><span class="ion-link"></span></a>
    <a name="success" class="anchor-text"></a>
    Success
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#outline" class="anchor"><span class="ion-link"></span></a>
    <a name="outline" class="anchor-text"></a>
    Outline
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#disabled-state" class="anchor"><span class="ion-link"></span></a>
    <a name="disabled-state" class="anchor-text"></a>
    Disabled state
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#block-buttons" class="anchor"><span class="ion-link"></span></a>
    <a name="block-buttons" class="anchor-text"></a>
    Block buttons
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#button-groups" class="anchor"><span class="ion-link"></span></a>
    <a name="button-groups" class="anchor-text"></a>
    Button groups
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
