---
title: Brandbook - Code guidelines
active: docs
docs: code-guidelines
---

<div class="page page-code">
  <h1 class="page-title">Code guidelines</h1>

  <p class="page-description">
    Lorem ipsum.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#basic-example">Basic example</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#basic-example" class="anchor"><span class="ion-link"></span></a>
    <a name="basic-example" class="anchor-text"></a>
    Basic example
  </h3>

  <hr>

  <p>
    Wrap some content in the outer <span class="label label-default">.blankslate</span> wrapper to give it the blankslate appearance.
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
