---
title: Brandbook - Colors
active: docs
docs: colors
---

<div class="page">
  <h1 class="page-title">Colors</h1>

  <p class="page-description">
    Lorem ipsum
  </p>

  <h2>Contents</h2>

  <ul>
    <li>Lorem ipsum.</li>
  </ul>
</div>
