---
title: Brandbook - Layout
active: docs
docs: layout
---

<div class="page page-code">
  <h1 class="page-title">Layout</h1>

  <p class="page-description">
    The main structure of the application.
  </p>

  <h3 class="anchor-container">
    <a href="#" class="anchor"><span class="ion-link"></span></a>
    <a name="" class="anchor-text"></a>
    Contents
  </h3>

  <hr>

  <ul>
    <li><a href="#bootstrap">Bootstrap</a></li>
    <li><a href="#scaffolding">Scaffolding</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#container" class="anchor"><span class="ion-link"></span></a>
    <a name="container" class="anchor-text"></a>
    Container
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#sidebar" class="anchor"><span class="ion-link"></span></a>
    <a name="sidebar" class="anchor-text"></a>
    Sidebar
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
