---
title: Brandbook - Scaffolding
active: docs
docs: scaffolding
---

<div class="page page-code">
  <h1 class="page-title">Scaffolding</h1>

  <p class="page-description">
    The global dependencies that Intuo's front-end is built upon.
  </p>

  <h3 class="anchor-container">
    <a href="#" class="anchor"><span class="ion-link"></span></a>
    <a name="" class="anchor-text"></a>
    Contents
  </h3>

  <hr>

  <ul>
    <li><a href="#bootstrap">Bootstrap</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#bootstrap" class="anchor"><span class="ion-link"></span></a>
    <a name="bootstrap" class="anchor-text"></a>
    Bootstrap
  </h3>

  <hr>

  <p>
    Intuo utilizes a customized version of Bootstrap as it's CSS framework.
  </p>
</div>
