---
title: Brandbook - Scaffolding
active: docs
docs: scaffolding
---

<div class="page">
  <h1 class="page-title">Scaffolding</h1>

  <p class="page-description">
    Lorem ipsum
  </p>

  <h2>Contents</h2>

  <ul>
    <li>Lorem ipsum.</li>
  </ul>
</div>
