---
title: Brandbook - Type
active: docs
docs: type
---

<div class="page page-code">
  <h1 class="page-title">Type</h1>

  <p class="page-description">
    Headings, paragraphs, blockquotes, lists, and more have some global resets.
  </p>

  <h3>Contents</h3>

  <hr>

  <ul>
    <li><a href="#headings">Headings</a></li>
    <li><a href="#body-text">Body text</a></li>
    <li><a href="#lists">Lists</a></li>
  </ul>

  <h3 class="anchor-container">
    <a href="#headings" class="anchor"><span class="ion-link"></span></a>
    <a name="headings" class="anchor-text"></a>
    Headings
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#body-text" class="anchor"><span class="ion-link"></span></a>
    <a name="body-text" class="anchor-text"></a>
    Body text
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>

  <h3 class="anchor-container">
    <a href="#lists" class="anchor"><span class="ion-link"></span></a>
    <a name="lists" class="anchor-text"></a>
    Lists
  </h3>

  <hr>

  <p>
    Lorem ipsum
  </p>

  <% code("ruby") do %>
  def my_cool_method(message)
    puts message
  end
  <% end %>
</div>
