//
// Grid
// --------------------------------------------------

@import "bootstrap/grid";

.no-padding { padding: 0; }
.no-center { margin: 0; }

.container {
  width: 100%;
  min-width: 844px;
}

.col-xs-3.has-shadow {
  box-shadow: 30px 0 100px $body-bg;
}
