---
title: Brandbook
active: home
---

<div class="row">
  <div class="col-md-4">
    <div class="about">
      <p class="about-title">Made at Intuo</p>
      <p class="about-content">
        The styleguide provides a solid understanding of the design guidelines, and includes a
        wide range of design patterns that are updated regularly.
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="about">
      <p class="about-title">Build tools</p>
      <p class="about-content">
        Includes scss-lint to check your SCSS for style violations,
        Autoprefixer for vendor prefixes, and Middleman for static site generation.
      </p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="about">
      <p class="about-title">Open Source</p>
      <p class="about-content">
        Available for use under the MIT license and built with
        open source projects like SCSS, Middleman, Autoprefixers, and more.
      </p>
    </div>
  </div>
</div>
