---
title: Brandbook - Roadmap
active: roadmap
---

<div class="page">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title">Roadmap</h1>

      <p class="page-description">
        A look at potential future Intuo brandbook updates with a
        focus on rewriting components for simplicity and durability,
        as well as consolidating UI options.
      </p>

      <h2 class="anchor-container">
        <a href="#v2" class="anchor"><span class="ion-link"></span></a>
        <a name="v2" class="anchor-text"></a>
        v2
      </h2>

      <hr>

      <ul>
        <li>[ ] Include Ember/Rails guidelines</li>
        <li>[ ] Include branding assets</li>
        <li>[ ] Synchronize Intuo Admin &amp; Learn assets</li>
        <li>[ ] Default avatars with initials</li>
      </ul>

      <h2 class="anchor-container">
        <a href="#v3" class="anchor"><span class="ion-link"></span></a>
        <a name="v3" class="anchor-text"></a>
        v3
      </h2>

      <hr>

      <ul>
        <li>[ ] Bump Bootstrap to 4.0 RC</li>
        <li>[ ] Upgrade to Middleman 4.0 RC1</li>
      </ul>
    </div>
  </div>
</div>
